@import url(https://fonts.googleapis.com/css?family=Quicksand:300,regular,500,600,700);
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #fafafa;
  border-radius: 10px;
}
.navbar .links {
  margin-left: auto;
  display: flex;
  flex-wrap: nowrap;
  font-weight: 600;
}
.navbar a {
  color: #333;
  font-weight: 600;
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  transition: 0.1s ease-in;
}
.links :nth-child(2) {
  white-space: nowrap;
}
.navbar h1 {
  color: #f1356d;
  font-weight: 700;
  font-size: x-large;
}
.navbar a:hover {
  transform: scale(105%);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  text-align: justify;
}
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
  font-weight: 500;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create textarea {
  overflow: hidden;
  resize: none;
  height: 300px;
}
.create select:focus {
  overflow: hidden;
  resize: none;
  outline: none;
}
.create input:focus,
.create textarea:focus {
  outline: none;
  box-shadow: 0 0 0.4px 0.2px #ddd, 0 0 1.2px 0.7px #f1356d;
  transition: box-shadow 0.1s ease-in;
}

.home select,
.home select :active {
  outline: none;
  border: none;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.button-container {
  display: flex;
  width: 150px;
  justify-content: space-between;
}

.home select {
  margin-bottom: 50px;
}

.App {
  background: linear-gradient(
    100deg,
    #fff,
    rgb(240, 228, 228),
    rgb(201, 182, 193),
    #6c6164
  );
  background-repeat: no-repeat;
}

.bg {
  background-image: url("./images/cloud.png");
  z-index: 5;
  background-repeat: no-repeat;
}
